body {
    padding: 30px; 
		font-family: "Helvetica Neue", helvetica, arial; 
		background: url('http://subtlepatterns.com/patterns/dark_fish_skin.png');
	}

  body {
  padding: 30px;
  font-family: arial;
}

h1 {
  margin-top: 30px;
  font-size: 35px;
  margin-bottom: 30px;
  color: rgba(73,10,61,1);
  text-shadow: 0 1px 1px rgba(255,255,255,.5);
  letter-spacing: -.08em;
  font-weight: bold;
}
/*Item box and Image Styling Start*/
.item {
  float: left;
  margin: 0 20px 20px 0;
  padding: 0;
  width: 250px;
  height: 150px;
  list-style: none;  
  border-radius: 25px;
  transition: all .25s ease;
}
img{
  width:auto;
  height:auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; 
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  border: 4px solid rgba(255,255,255,.25);
}
/*Item box and Image Styling End*/

/*Pace Holder for li data-type styling*/
li[data-type=red] {}
li[data-type=orange] {}
li[data-type=yellow] {}
li[data-type=purple] {}
li[data-type=green] {}

/*Sorting Nav Bar Styling Start*/
.sort {
  padding: 0;
  float: left;
  width: 100%;
  margin-bottom: 50px;
}
.sort li {
  margin-right: 10px;  
  float: left;
  font-size: 13px;
  list-style: none;
  background: rgba(0,0,0,.4);
  padding: 4px 15px;
  border-radius: 20px;
  cursor: pointer;
  color: rgba(73,10,61,1);
  color: gray;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  -webkit-transition: background .25s ease;
}
.sort .active, .sort .active:hover {
  background-color: rgba(138,155,15,1) !important;
}
.sort li:last-child {
  background: rgba(0,0,0,.6);
}
.sort li:hover {
  background: rgba(0,0,0,1);
}
/*Sorting Nav Bar Styling End*/

/*Span Text Start*/
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}
span.text-content {
  position: absolute;
  background: rgba(73,10,61,.5);
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: table;
  height: 154px;
  left: 0;
  top: 0;
  width: 250px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; 
}
/*Span Text End*/