			/*<!--Title-->*/
.a {

}
			/*<!--Nav Bar-->*/
.search {
	border-radius: 10px;
	padding-left: 30px;
}
			/*<!--Main Image-->*/
.c {
	border:5px;
	border-style:outset;
	border-color:black;
	border-radius:55px;
	margin:5px 0px 50px 40px;
	padding:0px 0px 0px 0px;
}
	.ci{
	border-radius:50px;
	
	
	
	}
			/*<!--Sale List-->*/
.d {
	border:5px;
	border-style:inset;
	border-color:black;
	border-radius:10px;
	margin:5px 40px 5px 0px;
	padding:0px 5px 5px 5px;
	
}
	.di{
		border:5px;
	border-style:inset;
	border-color:black;
	border-radius:10px;
	margin:5px 40px 40px 0px;
	padding:0px 5px 5px 5px;
	}
.e {}
			/*<!--Top Rated Items-->*/
.f {
	border:5px;
	border-style:outset;
	border-color:black;
	border-radius:55px;
	margin:5px 0px 50px 40px;
	padding:0px 0px 0px 0px;
}
	.fi{
		border-radius:50px;
	}
.g {
	border:5px;
	border-style:outset;
	border-color: black;
	border-radius:55px;
	margin:5px 40px 0px 40px;
	padding:0px 0px 0px 0px;
}
	.gi{
		border-radius:50px;
	}
	.gii{
		text-align:center;
	}
.h {
	border:5px;
	border-style:outset;
	border-color: black;
	border-radius:55px;
	margin:5px 40px 50px 0px;
	padding:0px 0px 0px 0px;
}
	.hi{
		border-radius:50px;
	}
	.hii{
		text-align:center;
	}
         	/*<!--Secondary Image-->*/
.i {}
			/*<!--About Us-->*/
.j {
	border:5px;
	border-style:outset;
	border-color: black;
	border-radius:20px;
	margin:50px 5px 5px 40px;
	padding:5px 5px 5px 5px;
}
	.jii{
		text-align:center;
	}
			/*<!--Reviews-->*/
.k {}
			/*<!--Additional Links-->*/
.l {}
			/*<!--Footer-->*/
.m {}